<!DOCTYPE html>
<html lang="en">
<head>
    <title>New task</title>
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body style="text-align: center">
    <img src="sg.png" alt="Spider-Gazelle" />
    <br />
    <h1>New task</h1>
</body>
</html>