<!DOCTYPE html>
<html lang="en">
<head>
    <title>Updated task</title>
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body style="text-align: center">
    <br />
    <h1>Updated task</h1>
    
    <%= user_input %>
    <%= task %>
</body>
</html>