<!DOCTYPE html>
<html lang="en">
<head>
    <title>New task</title>
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body style="text-align: center">
    <br />
    <h1>New task</h1>
    
    <%= new_task %>
</body>
</html>