<!DOCTYPE html>
<html lang="en">
<head>
    <title>Show task</title>
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body style="text-align: center">
    <br />
    <h1>Show task</h1>
    
    <%= task1 %>

</body>
</html>